importFrom("Matrix",t,colSums,diag)
export(combine.quantiles)
export(get.statistics)
export(netplot)
export(sigma.inv.approx)
export(perm.summary)
export(significance.tests)
export(find.clusters)
export(graph.neighb)
export(perms)
export(Simulate)
export(get.paths)
export(make.graph)
export(prediction.plot)

